<div class="carousel" data-gap="20" data-bfc>
	<figure>
		<img src="../assets/image/housekeeping.jpg" alt="">
		<img src="../assets/image/handyman services.jpg" alt="">
		<img src="../assets/image/Mail.jpg" alt="">
		<img src="../assets/image/referrals 3.jpg" alt="">
		<img src="../assets/image/phone a friend.jpg" alt="">
		<img src="../assets/image/food delivery 1.jpg" alt="">
		<img src="../assets/image/senior trans 2.jpg" alt="">
	</figure>
	<nav>
		<div><span>{{titles[selectedImg]}}</span>
		</div>

		<br>
		<div><button class="nav prev">Prev</button>
			<button class="nav next">Next</button>
		</div>
		<br>
	</nav>
</div>