.welcome {
    display: flex;
    flex-direction: column;
    margin-top: 2.5em;

    &_title-section {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &_section-sub-title1 {
            color: rgb(6, 179, 49);
            font-size: 3em;
            font-weight: bold;
            width: 18em;
            margin: 1em;
            text-align: center;
            z-index: 1;
            position: absolute;
            top: 50%;
        }

        &_section-sub-title2 {
            color: black;
            font-size: 2em;
            font-weight: bold;
            width: 18em;
            margin: 1em;
            text-align: center;
            z-index: 1;
            position: absolute;
            top: 90%;
        }
    }

    &_section-img {
        width: 100%;
        height: 100%;
    }


}

img {
    width: 100%;
    height: 100%;
}

.aboutUs {
    position: absolute;
    padding-left: 20em;
    margin-top: 3em;
    column-count: 2;
    column-gap: 100px;
    margin-left: 10em;
    margin-right: 50em;
    text-align: left;
    font-size: larger;
    font-weight: bolder;
    color: white;


}

.logoBlock2 {
    position: absolute;
    background-color: rgb(14, 16, 115);
    width: 102%;
    height: 17em;

}