<div class="welcome">
  <div class="welcome_title-section">
    <div class="welcome-section_img">
      <img src="../assets/image/seniorwize background.jpg" alt="" />
    </div>
    
    <div class="mission-section_sub-title1">
    Helping Seniors Help Themselves!
    <div class="mission-section_sub-title2">
    Get Started, Choose an Option:</div>
  </div>
</div>


<app-navigationbar></app-navigationbar>



<app-carousel></app-carousel>
<!-- <div class="welcome_img-carousel"> -->

<app-sponsor></app-sponsor>

<app-payment></app-payment>