<div class="welcome">
  <div class="welcome_title-section">
    <div class="welcome_section-img">
      <img src="../assets/image/Celebrate-National-Senior-Citizen-Day.jpg" alt="" />
    </div>
    
    <div class="welcome_title-section_section-sub-title1">
    Helping Seniors Help Themselves!</div>
    <div class="welcome_title-section_section-sub-title2">
    Get Started, Choose an Option:</div>
  </div>
  
</div>

<app-navigationbar></app-navigationbar>

<app-carousel></app-carousel>
<!-- <div class="welcome_img-carousel"> -->

<app-sponsor></app-sponsor>

<app-payment></app-payment>